/****** General ***********/
body{
    margin:0;
    padding:0;
}

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.tagline{
    margin-bottom: 30px;
}

.tagline h1, .tagline p {
    margin: 0;
}

.tagline p {
    margin-top: 5px;
}

/****** Header ***********/
h1{
    font-size: 22px;
}

h2{
    font-size:20px;
    font-weight:bold;
}

h3{
    font-size: 15px;
    font-weight: bold;
}

/****** Header ***********/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:60px;
}

header img{
    max-height: 20px;
    margin-top: 30px;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap:70px;
    list-style: none;
}

nav a:hover{
    color:#0065FC;
    border-top:2px solid #0065FC;
    padding-top:14px;
}

/****** Formulaire de recherche ***********/
.search{
    display: flex;
    flex-direction: row;
    margin-bottom: 38px;;
}
.search i{
    color:#000000;
    background-color: #F2F2F2;
    font-size: 20px;;
    padding:16px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-form{
    display: flex;
}

#search-form-field{
    border-top:1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left:none;
    border-right: none;
    text-align: center;
    padding:0px 15px;
    width:165px;
}

#search-form-field[value]{
    font-size:18px;
    font-weight: bold;
}

#search-form-btn-desktop{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
    background-color: #0065fc;
    color:#ffffff;
    font-size: 18px;
    font-weight: bold;
    padding:0 15px;
}

/****** Filtres ***********/
.filters{
    display: flex;
    flex-direction: row;
    gap:12px;
    margin-bottom:10px;
}

.filters p{
    font-size: 18px;
    font-weight: bold;
}

.filters-btn-box{
    display: flex;
    gap:15px;
}

.filters-btn{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    height: 50px;
    border-radius: 60px;
    border: 2px solid #d9d9d9;
    background-color: #ffffff;
    padding:5px 20px;
    white-space: nowrap;
}

.filters-btn:hover{
    background-color: #deebff;
}

.filters-btn i{
    font-size:20px;
}

.feedback-results{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
}

.feedback-results i{
    font-size: 12px;
}

.info-icon{
    height:22px;
    width:22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border: solid 1px #d9d9d9;
}

/****** Accomodations And Popular ***********/
.accomodations-and-popular {
    display: flex;
    justify-content: space-between;
}

.accomodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-subtitle{
    font-size: 14px;
}

/****** Accomodations ***********/
#accomodations {
    width: 65%;
}

.accomodations-cards{
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content: center;
}

.accomodations-cards .card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.accomodations-cards a{
    margin-top: 33px;
    width:30%;
}

.accomodations-cards img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accomodations-cards .card-content {
    padding-left: 10px;
}

.accomodations-cards .card-title {
    margin-top: 5px;
    margin-bottom: 8px;
}

.accomodations-cards .card-subtitle {
    margin: 0;
}

.accomodations-cards .card-rating {
    margin-top:4px;
    margin-bottom: 5px;
}

#show-more{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
#activities{
    margin:50px 30px 50px 30px;
}

.activities-cards{
    margin-top: 20px;
    display: flex;
    gap:30px;
}

.activities-cards .card{
    padding:0;
}

.activities-cards a{
    padding:0px;
    width:25%;
}

.activities-cards img{
    height:360px;
    width:100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards h3{
    margin-left:15px;
    padding-bottom:15px;
}


/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
    display: flex;
    gap:15px;
}

footer ul{
    list-style: none;
    width:30%;
}

footer ul li{
    margin-bottom: 10px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-top:10px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    nav a:active{
        color:#0065FC;
        border-top:2px solid #0065FC;
        padding-top:14px;
    }

    .filters{
        display: flex;
        flex-direction: column;
        gap:5px;
        margin-bottom:10px;
    }

    .filters-btn:active{
        background-color: #deebff;
    }

    .filters-btn{
        font-size: 15px;
        font-weight: bold;
    }
    
    .filters-btn:hover{
        background-color: #deebff;
    }
    
    .filters-btn i{
        font-size:18px;
    }

    .accomodations-cards .card-title {
        font-size: 14px;
    }

    .accomodations-cards .card-subtitle {
        font-size: 13px;
    }
   
    .accomodations-and-popular {
        flex-direction: column;
    }

    #accomodations {
        width: 100%;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }
    .activities-cards .card-title {
        font-size: 14px;
        height:20px;
        margin-top: 2px;
    }

    .activities-cards img{
        height:200px;
    }

    footer ul li{
        font-size:14px;
    }
    
    .footer-title {
        font-size: 16px;
    }

}

/* Small devices (phones, less than 768px) */
@media (min-width:320px) and (max-width: 767.98px){


  
    
}